In [13]:
#Module setup
import pandas as pd

In [14]:
#Data Management
school_data_csv = "Resources/schools_complete.csv"
student_data_csv = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_csv)
student_data = pd.read_csv(student_data_csv)

In [16]:
#Make the Files one
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [102]:
#District Summary
school_count = school_data_complete["school_name"].nunique()
print(school_count)

student_count = school_data_complete['Student ID'].nunique()
print(student_count)

total_budget = school_data_complete['budget'].sum()
print(total_budget)

average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)

average_reading_score = school_data_complete['reading_score'].mean()
print(average_reading_score)

15
39170
82932329558
78.98537145774827
81.87784018381414

In [103]:
#Percentage Passing
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(students_unique) * 100
print(passing_math_percentage)

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(students_unique) * 100
print(passing_reading_percentage)

passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()['student_name']
overall_passing_rate = passing_math_reading_count /  float(students_unique) * 100
print(overall_passing_rate)

74.9808526933878
85.80546336482001
65.17232575950983

In [105]:
#Summary
district_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count],"Total Budget":[total_budget],
                                "Average Math Score":[average_math_score], "Average Reading Score":[average_reading_score], "% Passing Math":[passing_math_percentage],
                                "% Passing Reading":[passing_reading_percentage],"% Overall Passing Rate":[overall_passing_rate]})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [74]:
#Highest-Performing Schools
school_types = school_data.set_index(["school_name"])["type"]

per_school_count = school_data_complete["school_name"].value_counts()
print(per_school_count.head())

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [106]:
#Per Student Budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_count
print(per_school_capita)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [107]:
#Average Maths Score
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
print(per_school_math.head())

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [108]:
#Average Reading Score
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
print(per_school_reading.head())

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [115]:
#Average Test scores
per_school_math = school_data_complete.groupby(["school_name"])["math_score"].mean()
per_school_math.head()

school_name
Bailey High School      77.048432
Cabrera High School     83.061895
Figueroa High School    76.711767
Ford High School        77.102592
Griffin High School     83.351499
Name: math_score, dtype: float64

In [114]:
per_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()
per_school_reading.head()

school_name
Bailey High School      81.033963
Cabrera High School     83.975780
Figueroa High School    81.158020
Ford High School        80.746258
Griffin High School     83.816757
Name: reading_score, dtype: float64

In [116]:
# #% Passing Math per school
passing_math_score = school_data_complete.loc[school_data_complete["math_score"]>=70]
passing_math_score

group_math_school = passing_math_score["school_name"].value_counts()
print(group_math_school.head())

percent_math = ((group_math_school/students_unique)*100)
percent_math

Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Name: school_name, dtype: int64

Bailey High School       8.470768
Johnson High School      8.029104
Hernandez High School    7.898902
Rodriguez High School    6.775594
Wilson High School       5.471024
Figueroa High School     4.968088
Huang High School        4.891499
Ford High School         4.776615
Cabrera High School      4.465152
Wright High School       4.288997
Shelton High School      4.220066
Thomas High School       3.893286
Griffin High School      3.500128
Pena High School         2.323207
Holden High School       1.008425
Name: school_name, dtype: float64

In [117]:
# % Passing Reading per School
reading_score = school_data_complete.loc[school_data_complete["reading_score"]>=70]

group_reading_school = reading_score["school_name"].value_counts()
print(group_reading_school.head())

percent_reading = ((group_reading_school/students_unique)*100)
percent_reading

Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Name: school_name, dtype: int64

Bailey High School       10.408476
Johnson High School       9.872351
Hernandez High School     9.568547
Rodriguez High School     8.189941
Figueroa High School      6.078632
Huang High School         6.055655
Wilson High School        5.626755
Ford High School          5.545060
Cabrera High School       4.603013
Wright High School        4.439622
Shelton High School       4.309420
Thomas High School        4.061782
Griffin High School       3.640541
Pena High School          2.356395
Holden High School        1.049272
Name: school_name, dtype: float64

In [119]:
#Overall Passing Score
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
#passing_math_and_reading

per_school_passing_math = passing_math_score.groupby(["school_name"]).count()["student_name"] / students_unique * 100
per_school_passing_reading = reading_score.groupby(["school_name"]).count()["student_name"] / students_unique * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / students_unique * 100
overall_passing_rate

school_name
Bailey High School       6.941537
Cabrera High School      4.332397
Figueroa High School     4.005617
Ford High School         3.796273
Griffin High School      3.395456
Hernandez High School    6.333929
Holden High School       0.972683
Huang High School        3.985193
Johnson High School      6.507531
Pena High School         2.223641
Rodriguez High School    5.409752
Shelton High School      4.041358
Thomas High School       3.796273
Wilson High School       5.279551
Wright High School       4.151136
Name: student_name, dtype: float64

In [126]:
#New Summary
per_school_summary = pd.DataFrame({"School Type":school_types, "Total Students":school_unique, "Total School Budget":per_school_budget
                                ,"Per Student Budget":per_school_capita ,"Average Math Score" :per_school_math,
                             "Average Reading Score":percent_reading,
                             "% Passing Math":percent_math, "% Passing Reading":percent_reading,
                            "% Overall Passing Rate":overall_passing_rate})
per_school_summary.head()
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,15,"$3,124,928.00",$628.00,77.048432,10.408476,8.470768,10.408476,6.941537
Cabrera High School,Charter,15,"$1,081,356.00",$582.00,83.061895,4.603013,4.465152,4.603013,4.332397
Figueroa High School,District,15,"$1,884,411.00",$639.00,76.711767,6.078632,4.968088,6.078632,4.005617
Ford High School,District,15,"$1,763,916.00",$644.00,77.102592,5.545060,4.776615,5.545060,3.796273
Griffin High School,Charter,15,"$917,500.00",$625.00,83.351499,3.640541,3.500128,3.640541,3.395456
Hernandez High School,District,15,"$3,022,020.00",$652.00,77.289752,9.568547,7.898902,9.568547,6.333929
Holden High School,Charter,15,"$248,087.00",$581.00,83.803279,1.049272,1.008425,1.049272,0.972683
Huang High School,District,15,"$1,910,635.00",$655.00,76.629414,6.055655,4.891499,6.055655,3.985193
Johnson High School,District,15,"$3,094,650.00",$650.00,77.072464,9.872351,8.029104,9.872351,6.507531
Pena High School,Charter,15,"$585,858.00",$609.00,83.839917,2.356395,2.323207,2.356395,2.223641
Rodriguez High School,District,15,"$2,547,363.00",$637.00,76.842711,8.189941,6.775594,8.189941,5.409752
Shelton High School,Charter,15,"$1,056,600.00",$600.00,83.359455,4.309420,4.220066,4.309420,4.041358
Thomas High School,Charter,15,"$1,043,130.00",$638.00,83.418349,4.061782,3.893286,4.061782,3.796273
Wilson High School,Charter,15,"$1,319,574.00",$578.00,83.274201,5.626755,5.471024,5.626755,5.279551
Wright High School,Charter,15,"$1,049,400.00",$583.00,83.682222,4.439622,4.288997,4.439622,4.151136

In [127]:
#highest performing schools
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = school_summary_df.sort_values(["% Passing Math","% Passing Reading","% Overall Passing Rate" ], ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,15,3124928.0,628.0,77.048432,10.408476,8.470768,10.408476,6.941537
Johnson High School,District,15,3094650.0,650.0,77.072464,9.872351,8.029104,9.872351,6.507531
Hernandez High School,District,15,3022020.0,652.0,77.289752,9.568547,7.898902,9.568547,6.333929
Rodriguez High School,District,15,2547363.0,637.0,76.842711,8.189941,6.775594,8.189941,5.409752
Wilson High School,Charter,15,1319574.0,578.0,83.274201,5.626755,5.471024,5.626755,5.279551

In [128]:
#lowest performing schools
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = school_summary_df.sort_values("% Overall Passing Rate")
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Holden High School,Charter,15,248087.0,581.0,83.803279,1.049272,1.008425,1.049272,0.972683
Pena High School,Charter,15,585858.0,609.0,83.839917,2.356395,2.323207,2.356395,2.223641
Griffin High School,Charter,15,917500.0,625.0,83.351499,3.640541,3.500128,3.640541,3.395456
Ford High School,District,15,1763916.0,644.0,77.102592,5.545060,4.776615,5.545060,3.796273
Thomas High School,Charter,15,1043130.0,638.0,83.418349,4.061782,3.893286,4.061782,3.796273

In [136]:
#Math Scores by grade
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

math_by_grade = pd.DataFrame({"9th":ninth_graders, "10th": tenth_graders, "11th":eleventh_graders, "12th":twelfth_graders })
math_by_grade
# Use the code to select only the `math_score`.
# ninth_grade_math_scores = ninth_graders_scores["math_score"]
# tenth_grader_math_scores = tenth_graders_scores["math_score"]
# eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
# twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling
# math_scores_by_grade.index.name = None

# Display the DataFrame
# math_scores_by_grade

ValueError: If using all scalar values, you must pass an index

In [ ]:
#Reading Scores by grade
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

In [ ]:
#Scores by School spending
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 

#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

In [ ]:
#Scores by School size
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 

# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

In [ ]:
#scores by school type
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary